{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
         <div class="form-group">
            <table>

                        <tr>
                            <th>symbol</th>
                            <th>share</th>
                            <th>price</th>
                            <th>total</th>
                            <th></th>
                        </tr>


                        {% for stock in stock %}
                            <tr>
                                <td>{{stock["symbol"].upper()}}</td>
                                <td>{{stock["share"]}}</td>
                                <td>{{stock['price'] | usd}}</td>
                                <td>{{stock['total'] | usd}}</td>
                                <td></td>

                            </tr>
                        {% endfor %}
                            <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td>{{ cash | usd}}</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>TOTAL</strong></td>
                <td></td>
                <td></td>
                <td>{{total | usd}}</td>
                <td></td>
            </tr>
        </table>

                        <!-- TODO: Loop through the database entries to display them in this table -->


        </div>



    </form>
{% endblock %}